<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>QualiTest</title>
</head>
<body>
    <p>Layout</p>
    <div style="color: red">
        <p>Body:</p>
        {{{body}}}
    </div>
</body>
</html>