<div class="question-title">
  {{#if question}}
    <h1>
      {{question.questiontitle}}
    </h1>
    <h2>
      {{question.questioncontent}}
    </h2>
    <h3>
        Answers
    </h3>
    <ul>      
      {{#each answers}}
        <li>
          {{this.answercontent}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <p>
      No model passed by query param
    </p>
  {{/if}}
</div>